.flex-center-box {
  display: flex;
  justify-content: center;
}

.swiper-container {
  width: 600px;
  height: 480px;
}

.swiper-slide {
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}