.div01 {
  height: 2rem;
  /* 渐变色 90deg左右渐变，*/
  background: linear-gradient(90deg, rgba(255, 0, 0, 0.6), #0000ff 80%, #ffffff);
}

.div02 {
  width: 100px;
  height: 100px;
  background-color: #ff0000;
  margin: 5px;
}

.transform01 {
  /* rotate旋转 */
  transform: rotate(45deg);
}

.transform02 {
  /* 压缩 */
  transform: scale(1,0.5);
}

.transform03 {
  /* 移动位置 */
  transform: translate(110px,-50px);
}

.transform04 {
  /* 组合变形 */
  transform: translate(50%, 50%) rotate(45deg) scaleX(0.5);
}

