#div01 {
  background-color: #ff0000;
}

#div02 {
  background-color: #0000ff;
}

#div03 {
  background-color: #00ffff;
}

.line01 {
  display: flex;
}

.line01 > div {
  flex: 1;
}

.line02 > div {
  height: 0.5rem;
  background-color: #ffff00;
  width: 33.3333%;
  /* translateX(0%),translate(100%, 0%)以百为单位的变动 */
  transform: translateX(0%);
  transition: transform 0.5s ease-in-out;
}

.container {
  display: flex;
  justify-content: center;
}

.container > section {
  width: 600px;
  padding: 2rem;
}