/* work/iconfont.css */
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'iconfont';  /* project id 1552343 */
  src: url('//at.alicdn.com/t/font_1552343_haydbwl3xv7.eot');
  src: url('//at.alicdn.com/t/font_1552343_haydbwl3xv7.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1552343_haydbwl3xv7.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1552343_haydbwl3xv7.woff') format('woff'),
  url('//at.alicdn.com/t/font_1552343_haydbwl3xv7.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1552343_haydbwl3xv7.svg#iconfont') format('svg');
}