.active {
  background-color: blue;
}

#div01 .active {
  background-color: coral;
}

#div01 > span {
  height: 1em;
  border: 1px solid #ff00ff;
  /* border-radius: 2px; */
  border-left-width: 0px;
}

#spProgress > span,
#div01 > span {
  display: inline-block;
  width: 1px;
  height: 1em;
}